adbutils==0.10.2
apkutils2==1.0.0
cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
cigam==0.0.3
decorator==5.0.7
Deprecated==1.2.12
deprecation==2.1.0
facebook-wda==1.4.0
idna==2.10
logzero==1.7.0
lxml==4.6.3
packaging==20.9
Pillow==8.2.0
progress==1.5
py==1.10.0
pyelftools==0.27
pyparsing==3.0.0b2
redis==3.5.3
requests==2.25.1
retry==0.9.2
six==1.16.0
tornado==6.1
uiautomator2==2.15.2.dev3
urllib3==1.26.4
weditor==0.6.3
whichcraft==0.6.1
wrapt==1.12.1
xmltodict==0.12.0
